html {
  font-family: 'Inconsolata', monospace; /* this should be the rest of the output you got from Google fonts */
}

h2:hover {
  background-color: greenyellow;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #b9ebc2;
  color: rgb(245, 22, 22);
  text-decoration: underline;
}

p:nth-child(even) {
  background-color: rgb(247, 247, 231);
}
